
  .btn:hover {
    background-color: RoyalBlue;
  }
  input{
    position: relative;
    width: 40%;
    height: 20px;
    padding-right: 50px;
    top: 10px;
    margin: 1em;
  }
  .btn{
    position: relative;
    height: 25px;
    width: 25px;
    top: 5.5px;
  }
  div{
    text-align: center;
  }
